/* 전체적용 */
.container{
    width:1140px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

body{
    overscroll-behavior: none;
}

/* 헤더 */
header{
    width: 100%;
    height: 45px;
    background: beige;
}

header .container{
    height: 45px;
    align-items: center;
    position: relative;
    z-index: 10;
}

/* 로고 */
.logo{
    width:200px;
    height: 45px;
    background-image: url(../img/logo_small.png);
    background-size:200px 45px;
    background-repeat: none;
    background-position: center;
}

/* 네비게이션 */
nav{
    width: calc(100% - 200px);
}

nav ul{
    display: flex;
    justify-content: right;
}

nav ul li a{
    color:white;
    margin-left: 30px;
}

/* 배너 */
#banner{
    width:100%;
    position: relative;
    top:-45px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-image: url(../img/banner_1.jpg);
    transition: all 0.7s ease; 
}

#banner_text{
    position: relative;
    margin-top: 300px;
    color:white;
}

h1{
    font-size: 3vw;
}

#banner p{
    margin: 15px 0 0 10px;
    font-size: 1vw;
}

span{
    background: #1babb6;
}

#banner_btn{
    width: 250px;
    margin: 10px 0 0 10px;
    height: 50px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#banner_btn p{
    margin: 0;
}

#banner_btn:hover{
    background: none;
    color: white;
    border: 1px solid;
}

/* 작은 슬라이드 */
#small_slide .container{
    height: 350px;
    position: relative;
    top:-170px;
    flex-wrap: wrap;
}

#slides{
    width:100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

#slide_list{
    width:400%;
    height: 250px;
    position: absolute;
    left:0;
}

.slide_box{
    height: 250px;
    float: left;
    position: relative;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

#slide_btn{
    margin: 0 auto;

}

#prev, #next{
    float: left;
    margin: 0 20px;
    cursor: pointer;
font-size: 50px;
color:#1babb6
}


/* 섹션#3 */

#section_3{
    width:100%;
    height:1000px;
}

#form{
    width: 1140px;
    height: 120px;
    background: #f9f9f9;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

#form p{
    margin-left: 20px;
    color: black;
    font-size: 2vw;
    align-self: center;
    font-weight: 700;
}

#form_btn{
    width: 250px;
    height: 50px;
    background: #1babb6;
    color: white;
    display: flex;
    align-self: center;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#form_btn:hover{
    background: none;
    color: #1babb6;
    border: 1px solid;
}

#wrap_photo{
    width:100%;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
}

#photo{
    position: relative;
    background-image: url(../img/photo.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    left:0;
    width:50%;
}

#text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: 600px;
}

#text h1{
    color: #1babb6;
}
#text h2{
    margin: 20px 0 30px 0;
}

/* 동영상 */
#cover{
    margin: 0 auto;
    width: 740px;
    height: 400px;
    position: relative;
    background-image: url(../img/cover.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#cover i{
    color: #1babb6;
    font-size: 50px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

#cover div{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse 1.5s infinite cubic-bezier(0.5, 0.5, 0.7, 0.7);
}

@keyframes pulse{
    100%{
        box-shadow: 0 0 0 7px #1babb6 ;
    }
}

#cover iframe{
    border: none;
}

/* 숫자카운트 */

#count{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    background-image: url(../img/backcover.jpg); 
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;;
}

#countWrap{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

#countTxt{
    width: 100%;
    text-align: center;
    margin: 50px 0;
    color: white;
}

#countTxt h1{
    margin-bottom: 20px;
}

.countBox{
    width:25%;
    height: 200px;
    color: white;
    font-size: 1.5vw;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countBox i{
    font-size: 60px;
}

.countBox:hover{
    color: #1babb6;
}

/* 입양후기 */
#review{
    margin: 200px 0;
}

#review .container{
    justify-content: center;
}

#reviewSlide{
    width:100%;
    height:500px;
    overflow: hidden;
    position:relative;
    margin-top: 50px;
}

#reviewList{
    width:1000%;
    height: 500px;
    left:0px;
    position: absolute;
}

.reviewBox{
    float: left;
    height: 500px;
}

#reviewPage{
    width:100%;
    height:40px;
    display: flex;
    justify-content: center;
}

#pageList{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.page{
    width:30px;
    height: 30px;
    background:none;
    border: 1px solid #1babb6;
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page:hover{
    border: 2px solid #1babb6;
}

.page.on{
    background: #1babb6;
    color: white;
}

.reviewWrap{
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
}

.reviewImg{
    width: 100%;
    height: 350px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.reviewTxt{
    width: 100%;
    height: 150px;
}

.reviewTxt p{
    margin: 10px 0 20px 0;
    text-align: center;
}

.reviewTxt span{
    background: none;
    color: #1babb6;
}

.reviewBox:hover{
    background: #1babb6;
    opacity: 0.9;
    border-radius: 10px;
    color: white;
}

.reviewBox:hover span{
    color: black;
}

/* footer */
footer{
    width: 100%;
    height: 1000px;
}