@media (max-width:599px){
    .container{
        width : 100%;
    }

    header{
        height: 70px;
    }

    #sticky{
        background: none;
        opacity: none;
    }

    header .container{
        height: 70px;
        background: #1e1c27;
        opacity: 0.9;
    }

    nav>ul{
        display: none;
    }

    #hamWrap{
        display: block;
        top:10px;
    }

    #ham{
        display: block;
    }

    .menu_1s a,i{
        font-size: 1.5em;
    }

    #banner{
        top:-70px;
    }

    #banner h1{
        margin-left: 5px;
        font-size: 3em;
    }
    
    #banner p{
        margin: 15px 0 0 10px;
        font-size: 0.8em;
    }

    #banner_btn{
        width: 200px;
    }

    #banner_btn p{
        margin: 0;
    }

    #small_slide .container{
        top: 10px;
    }

    #prev, #next{
        font-size: 35px;
    }



    #form{
        margin-top: 70px;
        width: 100%;
        height: 100px;
    }

    #form p{
        font-size: 0.9em;
    }

    #form_btn{
        width: 150px;
        height: 40px;
    }

    #wrap_photo{
        flex-wrap: wrap;
        height: auto;
    }

    #photo{
        width: 100%;
        height: 500px;
    }

    #text{
        text-align: center;
        height: 400px;
    }

    #text p{
        font-size: 1em;
    }

    #cover{
        width: 100%;
    }

    #count{
        height: auto;
    }

    #countTxt h1{
        font-size: 3em;
    }

    .countBox{
        width: 50%;
    }

    #review h1{
        font-size: 2em;
    }

    #prev_2, #next_2{
        font-size: 35px;
    }

    #footLeft{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footLeft p{
        line-height: 1.5em;
    }

    #footCenter{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    #footRight{
        margin-top: 70px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textWrap{
        width: calc(100% - 80px);
        height: auto;
    }

    #call, #mail{
        width: auto;
    }

    #mail .textWrap{
        display: flex;
        align-items: center;
        
    }

    #mail p{
        font-size: 1.3em;
    }





}

@media (min-width:600px) and (max-width:799px){
    .container{
        width : 100%;
    }

    #sticky{
        background: none;
        opacity: none;
    }

    header .container{
        background: #1e1c27;
        opacity: 0.9;
    }

    nav>ul{
        display: none;
    }

    #hamWrap{
        display: block;
    }

    #ham{
        display: block;
    }

    .menu_1s a,i{
        font-size: 1.5em;
    }

    #banner h1{
        margin-left: 15px;
    }
    #banner_text>p{
        margin-left: 20px;
    }

    #banner_btn{
        margin-left: 20px;
    }

    #form{
        width: 100%;
    }

    #wrap_photo{
        flex-wrap: wrap;
        height: 1200px;
    }

    #photo{
        width: 100%;
        height: 600px;
    }

    #text{
        text-align: center;
    }

    #count{
        height: auto;
    }

    #cover{
        width: 100%;
    }

    .countBox{
        width: 50%;
    }

    #footLeft{
        width: 50%;
        padding-left: 10px;
    }

    #footCenter{
        width: 50%;
        text-align: right;
        padding-right: 50px;
    }

    #footRight{
        width:100%;
        padding-left: 15px;
    }
}

@media (min-width:800px) and (max-width:1140px){
    .container{
        width : 100%;
    }

    #form{
        width: 100%;
    }







    #footLeft{
        width: 50%;
    }

    #footCenter{
        width: 50%;
        text-align: right;
        padding-right: 50px;
    }

    #footRight{
        width:100%;
    }

}

@media (min-width:1141px){

}