/* 폰트 */
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1,p,a,span,div {
    font-family: "Raleway", "S-CoreDream-4Regular", sans-serif;
}

body{
    overscroll-behavior-y: contain;
}

#subBanner_1{
    width: 100%;
    background: darkgray;
    top:-80px;
    position: relative;
    background-image: url(../img/sub_1/banner_sub_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bannerWrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#bannerTxt{
    width: 100%;
    padding-top: 300px;
    color: white;
    text-align: center;
}

#bar{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #1babb6;
    margin: 20px auto;
}

#bannerTxt h1{
    font-size: 3em;
}

#bannerTxt p{
    font-size: 1.5em;
}

/* 리스트섹션 */
#list{
    width: 100%;
    height: auto;
}

#widget{
    margin: 0 auto;
    display: flex;
}

.widgetBtn{
    width:100px;
    height: 50px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1babb6;
}

.choice{
    color: white;
    background: #1babb6;
}

#board{
    margin-top: 80px;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.listSWrap{
    float:left;
    padding: 10px;
}

.listS{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more{
    width: 100%;
    height: 70px;
    background: rgb(30, 28, 39);
    opacity: 0.8;
    position: relative;
    top: 330px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.moreOpen:before{
    content:"자세히 보기"
}

.moreClose:before{
    content:"닫기"
}


.detail{
    display: none;
    width: 100%;
    height: auto;
}

.listL{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listL h1{
    margin: 30px 0;
}

table{
    width:60%;
}

table, tr, td{
    border: 1px solid #1babb6;
    border-collapse: collapse;
    padding: 5px;
}

td{
    width: 25%;
    text-align: center;
}

td:nth-child(odd){
    background-color: rgba(30,28,39, 0.8);
    color:white;
}

iframe{
    width: 700px;
    height: 400px;
    border: none;
    margin: 30px 0;
}

.img{
    width: 65%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 40px 0;
}

.listL span{
    color: #1babb6;
}

.listL p:nth-of-type(11),p:nth-of-type(12),p:nth-of-type(13){
    color: #1babb6;
}

.closeBtn{
    width: 100%;
    height: 50px;
    background: #f9f9f9;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #1babb6;
}

.closeBtn:hover{
    background: #1babb6;
    color: white;
}

#moreList{
    width:100%;
    height:50px;
    margin: 20px 0;
    background: #f9f9f9;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #1babb6;
}

#moreList:hover{
    background: #1babb6;
    color: white;
}

.moreOpen_2:before{
    content:"더보기"
}

.moreClose_2:before{
    content:"접기"
}

.listLine:not(:nth-of-type(1)){
    display: none;
}

/* 폼섹션 */
#adoptForm{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#benefitForm{
    width: 100%;
    height: 150px;
    background-image: url(../img/sub_1/back.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-shadow: black 1px 1px 1px;
}

#benefitForm>h1>span{
    background: linear-gradient(transparent 60%, #f9be3e 40%);
    font-weight: 900;
}

#rollWrap{
    width: 100%;
    height: 800px;
    position: relative;
}

.roll{
    width:200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    color: white;
}

.roll:not(:last-of-type){
    top:55%
}

.rollCover{
    width: 100%;
    height: 60px;
    position: absolute;
    top:140px;
    background: #1e1c27;
    opacity: 0.8;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1.3em;
}

.roll:hover .rollCover{
    color: #1babb6;
}

#center{
    width: 400px;
    height: 400px;
    display: block;
    background: #1e1c27;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: pulse 1.5s infinite cubic-bezier(0.5, 0.5, 0.7, 0.7);
}

@keyframes pulse{
    100%{
        box-shadow: 0 0 0 10px #f9be3e ;
    }
}

.rollTxt:first-child{
    font-size: 3em;
}

.rollTxt:not(:first-child){
    display: none;
    font-size: 1.5em;
}

#submitForm{
    width: 100%;
    height: 150px;    
    background-image: url(../img/sub_1/back.jpg);
    background-attachment: fixed;
    font-size: 2em;
    margin-bottom: 100px;
    text-shadow: black 1px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


